<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="shared-styles.html">
<dom-module id="login-view">
  <template>
    <style include="shared-styles">
       :host {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
      }



      .login-box {
        width: 400px;
        position: relative;
      }



      .login-box h1 {
        color: #9DD22D;
        text-transform: uppercase;
        font-weight: 300;
      }



      .login-box button {
        width: 40%;
      }



      .alert.error {
        position: absolute;
        bottom: 0;
        transform: translateY(100px);
      }



      button {
        margin-top: 1rem;
      }
    </style>
    <div class="login-box">

      <iron-a11y-keys keys="enter" on-keys-pressed="login"></iron-a11y-keys>

      <div class="form">
        <h1>Patient portal</h1>
        <div class="field stacked">
          <label for="username">Username</label>
          <input autofocus id="username" type="text" autocomplete="username" value="{{username::input}}">
        </div>
        <div class="field stacked">
          <label for="password">Password</label>
          <input id="password" type="password" autocomplete="password" value="{{password::input}}">
        </div>
        <button on-tap="login" class="primary">Login</button>
      </div>
      <template is="dom-if" if="{{errorMsg}}">
        <div role="alert" class="alert error">
          <iron-icon icon="lock"></iron-icon>
          {{errorMsg}}
        </div>
      </template>
    </div>
  </template>
  <script>
    Polymer({
      is: 'login-view',
      properties: {
        errorMsg: String,
        username: {
          type: String,
          value: 'user'
        },
        password: {
          type: String,
          value: 'password'
        },
        loggedIn: {
          type: Boolean,
          notify: true
        }
      },
      login: function () {
        this.errorMsg = '';
        PatientPortal.http.login({
          username: this.username,
          password: this.password
        })
          .then(token => this.loggedIn = true)
          .catch(err =>
            this.errorMsg = err);
      }
    });
  </script>
</dom-module>
