<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../shared/formatters.html">
<link rel="import" href="../../shared/navigation-helpers.html">
<link rel="import" href="../../my-icons.html">
<dom-module id="patient-journal">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
      }
      
      vaadin-grid {
        flex: 1;
      }
      
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .details {
        padding: 0 25px 25px 25px;
      }
      
      .details h3 {
        text-transform: uppercase;
        font-size: 0.8rem;
      }
      
      .details article {
        white-space: normal;
      }
      
      .cell-wrapper {
        display: flex;
        flex-wrap: wrap;
      }
      
      .cell-wrapper div {
        width: 50%;
      }
      
      .cell-wrapper .date {
        font-weight: bold;
      }
      
      .cell-wrapper .appointment,
      .cell-wrapper .doctor {
        text-align: right;
      }
      
      .cell-wrapper .doctor-label {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
      }
    </style>

    <iron-media-query query="(max-width: 600px)" query-matches="{{narrow}}"></iron-media-query>

    <div class="top">
      <h2>[[patient.firstName]] [[patient.lastName]]</h2>
      <a class="button primary" href="[[route.prefix]]/new-entry">
        <iron-icon icon="plus"></iron-icon> New entry</a>
    </div>


    <vaadin-grid id="grid" items="[[entries]]">
      <vaadin-grid-column width="50px" flex="0">
        <template class="header"></template>
        <template>
          <paper-icon-button icon="[[_expandIcon(expanded)]]" on-tap="_toggleExpand"></paper-icon-button>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column hidden="[[!narrow]]">
        <template class="header">Journal Entries</template>
        <template>
          <div class="cell-wrapper">
            <div class="date">{{formatDate(item.date)}}</div>
            <div class="appointment">{{capitalize(item.appointmentType)}}</div>
            <div class="doctor-label">Doctor</div>
            <div class="doctor">{{item.doctor.lastName}}, {{item.doctor.firstName}}</div>
          </div>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column hidden="[[narrow]]">
        <template class="header">
          <vaadin-grid-sorter path="date">
            Date
          </vaadin-grid-sorter>
        </template>
        <template>[[formatDate(item.date)]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column hidden="[[narrow]]">
        <template class="header">
          <vaadin-grid-sorter path="appointmentType">
            Appointment
          </vaadin-grid-sorter>
        </template>
        <template>[[capitalize(item.appointmentType)]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column hidden="[[narrow]]">
        <template class="header">
          <vaadin-grid-sorter path="doctor.lastName">
            Doctor
          </vaadin-grid-sorter>
        </template>
        <template>[[item.doctor.lastName]], [[item.doctor.firstName]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column hidden="[[narrow]]">
        <template class="header">
          <vaadin-grid-sorter path="entry">
            Notes
          </vaadin-grid-sorter>
        </template>
        <template>[[item.entry]]</template>
      </vaadin-grid-column>

      <template class="row-details">
        <section class="details">
          <h3>Notes</h3>
          <article>[[item.entry]]</article>
        </section>
      </template>
    </vaadin-grid>
  </template>
  <script>
    Polymer({
      is: 'patient-journal',
      behaviors: [PatientPortal.Formatters],
      properties: {
        route: Object,
        patient: {
          type: Object,
          notify: true
        },
        entries: Array
      },

      _expandIcon: function(expanded){
        return expanded ? 'chevron-down' : 'chevron-right';
      },

      _toggleExpand: function(evt) {
        const item = evt.model.item;
        if(this.$.grid.expandedItems && this.$.grid.expandedItems.includes(item)){
          this.$.grid.expandedItems = [];
        } else {
          this.$.grid.expandedItems = [item];
        }
      }
    });
  </script>
</dom-module>
