<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../../../../bower_components/vaadin-form-layout/vaadin-form-layout.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../../../bower_components/vaadin-text-field/vaadin-password-field.html">

<link rel="import" href="../../../components/search-bar.html">
<link rel="import" href="../../../components/utils-mixin.html">
<link rel="import" href="../../../components/form-dialog.html">
<link rel="import" href="../../../components/form-buttons-bar.html">

<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="users-view">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
      }
    </style>
    
    <search-bar id="search-bar"></search-bar>

    <vaadin-grid id="users-grid" theme="crud-grid"></vaadin-grid>

    <!--  dialogs are tele-ported to body, hence you need to inline styles or use styled web components -->
    <form-dialog id="dialog-editor" theme="right">

      <vaadin-form-layout style="flex: 1; overflow-y: auto; overflow-x: hidden; padding: 5px">
        <h3 id="title"></h3>
        <br>
        <vaadin-text-field id="email" label="Email (login)" colspan="2"></vaadin-text-field>
        <br>
        <vaadin-text-field id="first" label="First Name" colspan="2"></vaadin-text-field>
        <vaadin-text-field id="last" label="Last Name" colspan="2"></vaadin-text-field>
        <br>
        <vaadin-password-field id="user-edit-password" label="Password" colspan="2"></vaadin-password-field>
        <br>
        <vaadin-combo-box id="role" label="Role" colspan="2"></vaadin-combo-box>
      </vaadin-form-layout>

      <form-buttons-bar id="buttons"></form-buttons-bar>

      <template><!-- vaadin-dialog fails if not present (#43) --></template>
    </form-dialog>
  </template>

  <script>
    class UsersView extends window.HasNotificationsMixin(Polymer.Element) {
      static get is() {
        return 'users-view';
      }

      // This method is overridden to measure the page load performance and can be safely removed
      // if there is no need for that
      ready() {
        super.ready();
        const grid = this.$['users-grid'];
        let partsLoaded = 0;
        const listener = () => {
          if (!grid.loading && ++partsLoaded === 2) {
            // the 'loading-changed' event is fired separately for the headers (first)
            // and for the content (second). Waiting for the second time
            window.performance.mark('bakery-page-loaded');
            grid.removeEventListener('loading-changed', listener);
          }
        };
        grid.addEventListener('loading-changed', listener);
      }

      static get properties() {
        return {
          desktopView: {
            type: Boolean
          }
        };
      }
    }

    window.customElements.define(UsersView.is, UsersView);
  </script>
</dom-module>
