:host {
  height: 100%;
}

::slotted([slot='new-button']) {
  display: none;
}

::slotted([slot='toolbar']) {
  margin: 0 !important;
}

[part="toolbar"] {
  padding: 0 !important;
}

:host ::slotted(vaadin-grid) {
  max-width: calc(964px + var(--lumo-space-m));
  background-color: var(--lumo-base-color);
}

@media (min-width: 700px) {
  [part="toolbar"] {
    order: -1;
  }
}