:host([theme~='orders']) {
  padding: var(--lumo-space-xs);
}

:host([theme~='orders']) [part='overlay'] {
  display: flex;
  animation: none !important;
  min-width: 300px;
  outline: none;
}

:host([theme~='crud']) [part='content'] {
  padding: 0;
}

:host([theme~='orders']) [part='content'],
:host([theme~='orders']) [part='overlay'] {
  max-width: 65em;
  width: 100%;
}

@media (max-width: 600px), (max-height: 600px) {
  :host([theme]) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
  }

  :host([theme]) [part='content'] {
    display: flex;
    flex-direction: column;
  }

  :host([theme]) [part='overlay'] {
    height: 100%;
    border-radius: 0 !important;
  }
}

/* we need explicitly set height for wrappers inside dialog-flow */
[part='content'] ::slotted(flow-component-renderer) {
  height: 100%;
}
