<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="order-status-badge.html">

<dom-module id="order-details-brief">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        padding: var(--lumo-space-l) var(--lumo-space-s);
        cursor: pointer;
      }

      .flex {
        display: flex;
      }

      #infoWrapper {
        flex-direction: column-reverse;
        justify-content: flex-end;
      }

      order-status-badge {
        margin: var(--lumo-space-s) 0;
        width: 100px;
      }

      #timePlace {
        width: 120px;
      }

      #nameItems {
        flex: 1;
      }

      #place,
      #secondaryTime,
      #fullDay,
      #goods {
        color: var(--lumo-secondary-text-color);
      }

      h3 {
        margin: 0;
      }

      #goods {
        display: flex;
        flex-wrap: wrap;
      }

      #goods > div {
        box-sizing: border-box;
        width: 18em;
        flex: auto;
        padding-right: var(--lumo-space-l);
      }

      .goods-item {
        display: flex;
        align-items: baseline;
        font-size: var(--lumo-font-size-s);
        margin: var(--lumo-space-xs) 0;
      }

      .goods-item > .count {
        margin-right: var(--lumo-space-s);
      }

      .goods-item > div {
        flex: auto;
      }

      @media (min-width: 600px) {
        :host {
          padding: var(--lumo-space-l);
        }

        #infoWrapper {
          flex-direction: row;
        }

        order-status-badge {
          margin: 0;
        }
      }
    </style>

    <div id="infoWrapper" class="flex">
      <order-status-badge status="[[item.state]]"></order-status-badge>
      <div id="timePlace"></div>
    </div>

    <div id="nameItems">
      <h3 id="name">[[item.customer.fullName]]</h3>
      <div id="goods">
        <template is="dom-repeat" items="[[item.items]]">
          <div class="goods-item">
            <span class="count">[[item.quantity]]</span>
            <div>[[item.product.name]]</div>
          </div>
        </template>
      </div>
    </div>
  </template>

  <script>
    class OrderDetailsBrief extends Polymer.Element {
      static get is() {
        return 'order-details-brief';
      }

      static get properties() {
        return {
          item: {
            type: Object
          }
        };
      }

    }

    window.customElements.define(OrderDetailsBrief.is, OrderDetailsBrief);
  </script>
</dom-module>
