<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-dialog/src/vaadin-dialog.html">

<link rel="import" href="../../components/search-bar.html">
<link rel="import" href="../../components/utils-mixin.html">
<link rel="import" href="order-status-badge.html">

<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="storefront-view">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }

      .order-card {
        display: block;
      }

      .oc-content {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .oc-wrapper {
        background: var(--lumo-base-color);
        background-image: linear-gradient(var(--lumo-tint-5pct), var(--lumo-tint-5pct));
        box-shadow: 0 3px 5px var(--lumo-shade-10pct);
        border-bottom: 1px solid var(--lumo-shade-10pct);
        display: flex;
        padding: var(--lumo-space-l);
        cursor: pointer;
        border-radius: var(--lumo-border-radius);
      }

      .oc-main {
        color: var(--lumo-body-text-color);
        margin-right: var(--lumo-space-s);
        font-weight: bold;
      }

      .oc-group-heading {
        margin: var(--lumo-space-l) var(--lumo-space-s) var(--lumo-space-m);
      }

      .oc-secondary {
        color: var(--lumo-secondary-text-color);
      }

      .oc-info-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
      }

      .oc-badge {
        margin: var(--lumo-space-s) 0;
        width: 100px;
      }

      .oc-time-place {
        width: 120px;
      }

      .oc-name-items {
        flex: 1;
      }

      .oc-place,
      .oc-secondary-time,
      .oc-full-day,
      .oc-goods {
        color: var(--lumo-secondary-text-color);
      }

      .oc-time, .oc-name {
        margin: 0;
      }

      .oc-goods {
        display: flex;
        flex-wrap: wrap;
      }

      .oc-goods > div {
        box-sizing: border-box;
        width: 18em;
        flex: auto;
        padding-right: var(--lumo-space-l);
      }

      .oc-goods-item {
        display: flex;
        align-items: baseline;
        font-size: var(--lumo-font-size-s);
        margin: var(--lumo-space-xs) 0;
      }

      .oc-goods-item > .count {
        margin-right: var(--lumo-space-s);
      }

      .oc-goods-item > div {
        flex: auto;
      }

      @media (min-width: 600px) {
        .oc-info-wrapper {
          flex-direction: row;
        }

        .oc-badge {
          margin: 0;
        }

        .oc-content {
          max-width: 964px;
        }
      }
    </style>

    <search-bar id="search" show-checkbox></search-bar>

    <vaadin-grid id="grid" theme="orders no-row-borders"></vaadin-grid>

    <vaadin-dialog id="dialog"></vaadin-dialog>

  </template>

  <script>
    class StorefrontView extends Polymer.Element {
      static get is() {
        return 'storefront-view';
      }

      ready() {
        super.ready();

        // There is no way for theming the dialog-overlay but using private API
        this.$.dialog.$.overlay.setAttribute('theme', 'middle');

        // This method is overriden to measure the page load performance and can be safely removed
        // if there is no need for that.
        const grid = this.$.grid;
        const listener = () => {
          if (!grid.loading && window.performance.mark) {
            window.performance.mark('bakery-page-loaded');
            grid.removeEventListener('loading-changed', listener);
          }
        };
        grid.addEventListener('loading-changed', listener);
      }

    }

    window.customElements.define(StorefrontView.is, StorefrontView);
  </script>
</dom-module>
