@keyframes v-progress-start {
	0% {
		width: 0%;
	}
	100% {
		width: 50%;
	}
}

.v-loading-indicator {
	position: fixed !important;
	z-index: 99999;
	left: 0;
	right: auto;
	top: 0;
	width: 50%;
	opacity: 0.6;
	height: 4px;
	background-color: var(--lumo-primary-color);
	pointer-events: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-animation: v-progress-start 1000ms 200ms both;
	-moz-animation: v-progress-start 1000ms 200ms both;
	animation: v-progress-start 1000ms 200ms both;
}

.v-loading-indicator[style*="none"] {
	display: block !important;
	width: 100% !important;
	opacity: 0;
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
	-webkit-transition: opacity 500ms 300ms, width 300ms;
	-moz-transition: opacity 500ms 300ms, width 300ms;
	transition: opacity 500ms 300ms, width 300ms;
}
