<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/vaadin-form-layout/vaadin-form-layout.html">
<link rel="import" href="../../../../bower_components/vaadin-text-field/vaadin-text-field.html">

<link rel="import" href="../../../components/search-bar.html">
<link rel="import" href="../../../components/utils-mixin.html">
<link rel="import" href="../../../components/form-dialog.html">
<link rel="import" href="../../../components/form-buttons-bar.html">

<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="products-view">
  <template>
    <style include="shared-styles">
      :host {
        max-width: none !important;
        display: flex;
        flex-direction: column;
      }
    </style>

   <search-bar id="searchBar"></search-bar>

   <vaadin-grid id="grid" theme="crud-grid"></vaadin-grid>

    <!--  dialogs are tele-ported to body, hence you need to inline styles or use styled web components -->
    <form-dialog id="dialog" theme="right">
      <vaadin-form-layout style="flex: 1; overflow-y: auto; overflow-x: hidden; padding: 5px">
        <h3 id="title"></h3>
        <br>
        <vaadin-text-field id="productEditName" label="Product name" colspan="2" required pattern=".*[^ ].*"
          error-message="Please enter a valid name"></vaadin-text-field>
        <br>
        <vaadin-text-field id="price" label="Unit price" colspan="2" on-focus="priceFocusGained"
          pattern="\d+(\.\d?\d?)?$" required prevent-invalid-input>
        </vaadin-text-field>
      </vaadin-form-layout>

      <form-buttons-bar id="buttons"></form-buttons-bar>

      <template><!-- vaadin-dialog fails if not present (#43) --></template>
    </form-dialog>
  </template>

  <script>
    class ProductsView extends window.HasNotificationsMixin(Polymer.Element) {
      static get is() {
        return 'products-view';
      }
    }

    window.customElements.define(ProductsView.is, ProductsView);
  </script>
</dom-module>
